<app-toolbar></app-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label="">
            <mat-icon>add</mat-icon>
            Registrar um Livro
        </ng-template>
        <mat-card>
            <form [formGroup]="formulary" (ngSubmit)="submit()">
                <mat-form-field formGroupName="author" class="half-width" appearance="fill">
                    <mat-label>Autor: </mat-label>
                    <mat-select formControlName="id">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let author of authorList" [value]="author.id">{{ author.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Titulo: </mat-label>
                    <input formControlName="title" matInput placeholder="Titulo do Livro">
                    <div *ngIf="formulary.get('title')?.errors">
                        <div *ngIf="formulary.get('title')?.errors?.['required'] && !formulary.get('title')?.pristine">*Campo Titulo é <strong>obrigatório</strong></div>
                    </div>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Coleção: </mat-label>
                    <input formControlName="collection" matInput placeholder="Coleção">
                </mat-form-field>
                    <div *ngIf="formulary.get('collection')?.errors">
                        <div *ngIf="formulary.get('collection')?.errors?.['required'] && !formulary.get('collection')?.pristine">*Campo Coleção é <strong>obrigatório</strong></div>
                    </div>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Quantidade Disponível: </mat-label>
                    <input formControlName="quantity" matInput placeholder="Quantidade">     
                    <div *ngIf="formulary.get('quantity')?.errors">
                        <div *ngIf="formulary.get('quantity')?.errors?.['required'] && !formulary.get('quantity')?.pristine">*Campo Quantidade é <strong>obrigatório</strong></div>
                    </div>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Data de Publicação: </mat-label>
                    <input formControlName="publicationDate" matInput placeholder="Data de Publicação">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Data de Fabricação: </mat-label>
                    <input formControlName="manufacturingDate" matInput placeholder="Data de Fabricação">
                </mat-form-field>
                <button mat-raised-button color="primary">Registrar</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>
